<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />
  <title>My Book Notes</title>
</head>

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>

      <li><a href="/books/add">Add New Book</a></li>
    </ul>
  </nav>
  <hr />
</header>
