<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <h1>Book Notes App</h1>
      <nav>
        <a href="/books">Books</a>
        <a href="/books/new">Add New Book</a>
      </nav>
    </header>

    <main><%= content %></main>

    <footer>
      <p>&copy; 2024 Book Notes</p>
    </footer>
  </body>
</html>
