<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Joke API</title>
  </head>
  <body>
    <div class="container">
      <h1>Get a Random Joke!</h1>
      <form action="/get-joke" method="POST">
        <button type="submit">Tell me a joke</button>
      </form>
      <% if (joke) { %>
      <p class="joke"><%= joke %></p>
      <% } %>
    </div>
  </body>
</html>
